[submodule "benchmark/external/perfevent"]
	path = benchmark/external/perfevent
	url = https://github.com/viktorleis/perfevent.git

[submodule "prototype/benchmark/external/perfevent"]
	path = prototype/benchmark/external/perfevent
	url = https://github.com/viktorleis/perfevent.git

