# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# custom
# cmake
cmake-build-*
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
build

# clion
.idea

# generated input files
input_data/data/*.bin